@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');



h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #171616;

}

h1{
  font-weight: 700;
}

p, label, option, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16;
  color: #424242;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
  background-color: yellow;
  color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.pack-image {
 width: 50%;
 min-width: 300px;
}