@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/*Default CSS layout for narrow screens*/

* {
  text-align: center;
}

body {
  /*display: inline-block;*/
}



h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #171616;

}

h1 {
  font-size: 20px;
  font-weight: 700;
}

p,
label,
option,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #424242;
}

#results {
  display: inline-block;
  width: 60%;

}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  background-color: yellow;
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.pack-image {
  width: 60%;
  min-width: 100px;
  max-width: 400px;
}

@media (min-width: 480px) {
  /*CSS for medium width screens*/
  .pack-image {
  width: 40%;
  min-width: 100px;
  max-width: 400px;
}
h1 {
  font-size: 1.3rem;
  font-weight: 700;
}



}

@media (min-width: 800px) {
  /*CSS for wide screens*/
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}

